<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs View</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "jobs.css" %}">
</head>
      <div class="container">
         <div class="jumbotron">
         <h1 class="display-4">Jobs Portal !</h1>
         <p class="lead">Continious Jobs Update Information.</p>
         <hr class="my-4">
         <a class="btn btn-primary btn-lg" href="bang/" role="button">Bangalore Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a class="btn btn-primary btn-lg" href="bihar/" role="button">Bihar Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a class="btn btn-primary btn-lg" href="hydra/" role="button">Hydrabad Jobs</a>
         </div>
    </div>
<body>
    
</body>
</html>